<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script>
        async function iflogged() {
            try {
                const response = await fetch('/sessionlogged');
                const data = await response.json();

                if (data.loggedIn) {
                    // Redirect to the desired page
                    window.location.href = '/profil';
                } else {
                    // Show a popup message
                    alert('You must be logged in to access this page!');
                }
            } catch (error) {
                console.error('Error checking login status:', error);
                alert('An error occurred. Please try again later.');
            }
        }
    </script>
    <title>Market</title>
</head>
<body>

<div class="menu">
    <p><strong>Balance:</strong> $<%= balance %></p> <!-- Display the user's balance -->
</div>
<button class="menu" onclick="iflogged()">Mon compte</button>
<button class="menu">
    <a class="btn" href="/login">connexion</a>
</button>


<h1 class="main-title">Bienvenue</h1>
<div class="text-center mb-3">
    <h3>Tri:</h3>
    <a href="/?sort=asc" class="btn btn-primary">Ordre croissant</a>
    <a href="/?sort=desc" class="btn btn-primary">Ordre décroissant</a>
</div>

<table class="table table-striped table-bordered text-center">
    <thead class="table-dark">
    <tr>
        <th>Price</th>
        <th>Description</th>
        <th>Seller Email</th>
        <th>Stock</th>
        <th>Name</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <% if (Array.isArray(items) && items.length > 0) { %>
        <% items.forEach(item => { %>
            <% if (item.Stock >= 1) { %>
                <tr>
                    <td><%= item.Price %> €</td>
                    <td><%= item.Description %></td>
                    <td><%= item.SellerEmail %></td>
                    <td><%= item.Stock %></td>
                    <td><a href="/item/<%= item._id %>"><%= item.Name %></a></td>
                    <td><img src="<%= item.Image %>" alt="Item Image" width="100"></td>
                </tr>
            <% } %>
        <% }) %>
    <% } else { %>
        <tr>
            <td colspan="6">No items available.</td>
        </tr>
    <% } %>
    </tbody>
</table>

</body>
</html>
